@include keyframes(slideIn){
  0%{
    background-color:transparentize(#fff,1);
  }
  100%{
    background-color:#fff;
  }
}
@include keyframes(slideInBrandPrimary){
  0%{
    background-color:transparentize($brand-primary,1);
  }
  100%{
    background-color:$brand-primary;
  }
}
@include keyframes(slideInSidebar){
  0%{
    @include translate(-100%,0);
  }
  100%{
    @include translate(0%,0);
  }
}
@include keyframes(slideInMain){
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.site{
  width:100%;
  padding-left: 0;
  padding-right: 0;
  font-size:12px;
  background:#fff;
  //@include translate(0,0);
  //@include transition(transform 1s);
  &.slideOut{
    .sidebar{
      position: relative;
      @include transition-duration(.5s);
      @include transition-timing-function(ease-in);
      @include translate(-100%,0);
      z-index: 10;
    }
    .main{
      position: relative;
      z-index: 9;
      @include transition-duration(.5s);
      @include transition-timing-function(ease-in);
      //@include translate($sidebar-width,0);
      opacity: 0;
    }
  }
  &.slideIn{
    position:absolute;
    top:0;
    @include animation(slideIn .2s both .5s);
    &.page-foreword{
      @include animation(slideInBrandPrimary .3s both .5s);
    }
    .sidebar{
      position: relative;
      z-index: 12;
      @include animation(slideInSidebar 1s both .5s);
    }
    .main{
      @include animation(slideInMain 1s both .75s);
    }
  }
}
.site-section{
  width:$sidebar-width*4;
}
.site-section-container{
  display: table;
  width:100%;
  > .sidebar{
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
  > *{
    @include transition(transform .5s, opacity .5s);
    display: table-cell;
  }
  > .sidebar{
    width:$sidebar-width;
  }
}
.main-section{
  .site-section-container{
    > .sidebar, > main{
      padding-top: 4em;
    }
  }
}
.main{
}
.main-sidebar{
  padding-bottom: $grid-gutter-width;
}
footer{
  a{
    color:#fff;
    &:hover{
      color:#fff;
      text-decoration: none;
    }
  }
  .sidebar{
    @include bau-to-borges;
    padding-top: $grid-gutter-width;
    padding-bottom:$grid-gutter-width;
  }
}
@media (max-width: $screen-xs-max){
  .site{
    @include animation(none);
  }
  .site-section{
    width:100%;
  }
  .site-section-container{
    &,&>*,&>.sidebar{
      display: block;
      width:100%;
    }
  }
}
@media (min-width: $screen-sm-min){
  .site-section{
    width:$sidebar-width*2+$grid-gutter-width;
  }
}
@media (min-width: $screen-md-min){
  .site-section{
    width:$sidebar-width*3;
  }
}
@media (min-width: $screen-lg-min){
  .site-section{
    width:$sidebar-width*4;
  }
}
@media (min-width: $screen-xl-min) {
  .site{
    font-size:16px;
  }
  .site-section{
    width: $sidebar-width-large*4;
    .site-section-container > .sidebar{
      width:$sidebar-width-large;
    }
  }
}