@include keyframes(site-intro){
  0%{
    @include translate(($grid-gutter-width - $sidebar-width),0);
  }
  100%{
    @include translate(0,0);
  }
}
.site-section{
  display: table;
  width:$sidebar-width*4;
  > .sidebar{
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
  > *{
    display: table-cell;
  }
  > .sidebar{
    width:$sidebar-width;
  }
}
.main-section{
  > .sidebar, > main{
    padding-top: 4em;
  }
}
.main-sidebar{
  padding-bottom: $grid-gutter-width;
}
footer{
  a{
    color:#fff;
    &:hover{
      color:#fff;
      text-decoration: none;
    }
  }
  .sidebar{
    @include bau-to-borges;
    padding-top: $grid-gutter-width;
    padding-bottom:$grid-gutter-width;
  }
}
.site{
  width:100%;
  padding-left: 0;
  padding-right: 0;
  font-size:12px;
  @include animation(site-intro 1s ease-in-out 2s both);



  /*
  > .sidebar, > main{
    padding-top: 60px;
  }
  > .sidebar{
    &:before{
      content:' ';
      display: block;
      width:$sidebar-width;
      height:100%;
      position: fixed;
      top:0;
      left:0;
      z-index: -1;
    }
    position: absolute;
    min-height: 100%;
    width: $sidebar-width;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
    > div{
      margin: 0 0 2em 0;
    }
  }
  > main{
    padding-left:$sidebar-width;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
  }
  > footer{
    width:$sidebar-width;
    padding: $grid-gutter-width;

  }  */
}
@media (max-width: $screen-xs-max){
  .site{
    @include animation(none);
  }
  .site-section{
    &,&>*,&>.sidebar{
      display: block;
      width:100%;
    }
  }
}
@media (min-width: $screen-sm-min){
  .site-section{
    width:($sidebar-width + $grid-gutter-width)*2;
  }
}
@media (min-width: $screen-md-min){
  .site-section{
    width:($sidebar-width + $grid-gutter-width)*3;
  }
}
@media (min-width: $screen-lg-min){
  .site-section{
    width:($sidebar-width + $grid-gutter-width)*4;
  }
}
@media (min-width: $screen-xl-min) {
  .site{
    font-size:16px;
  }
  .site-section{
    width: ($sidebar-width-large + $grid-gutter-width)*4;
    > .sidebar{
      width:$sidebar-width-large;
    }
  }
}