.nd-logo{
  @extend .bau;
  $r:2.5em;
  width:$r;
  height:$r;
  line-height:$r;
  margin: $r/5;
  display: inline-block;
  position:relative;
  color:#fff;
  text-align: center;
  letter-spacing: .1em;
  span{display: none;}
  &:before{
    content:' ';
    display: block;
    position:absolute;
    width:100%;
    height:100%;
    @include rotate(45deg);
    background:$text-color;
  }
  &:after{
    position: relative;
    content:"ND";
    margin-left: .1em;
  }
  &.white-on-brand{
    &:before{
      background: #fff;
    }
    &:after{
      color:$brand-primary;
    }
  }
}
a.nd-logo{
  text-decoration: none;
  &:hover{
    color:#fff;
  }
}