<header class="nd-header col-xs-12 col-md-12 col-lg-4">
	<div class="block-logo">
		<div class="nd-logo white-on-brand"><span>Nouveau Document</span></div>
	</div>
	<nav>
		<ul>
			<li><a href="">newsletter</a></li>
			<li><a href="">nous contacter</a></li>
			<li><a href="">google map</a></li>
			<li>.</li>
			<li><a href="">fr</a></li>
			<li><a href="">es</a></li>
		</ul>
	</nav>
</header>
<div class="content-block col-xs-12 col-sm-12 col-md-12 col-lg-8">

	<div class="about-content">
		<p>(...) « Nouveau Document » est tout à la fois l'ambition d'une aventure littéraire dans l'objet qu'elle construit et l'histoire qu'elle raconte, une collection dédiée à des figures de la recherche au sens large, et une association défendant une conception de l'édition en sciences humaines fondée sur un échange avec les champs de l'art, du graphisme et du design éditorial.</p>
	</div>

</div>
