<div class="about-nd">

	<h2>Avant-propos</h2>
	<p>
		À l'origine, il y a d'abord un désir de synthèse ; la recherche d'une unicité et d'une relation d’interdépendance signifiante entre un contenu éditorial et son design, entre la matière textuelle et son identité visuelle, entre l'activité de recherche et la création. Et une constatation : la méconnaissance des approches contemporaines du livre ou le manque d'investissement du champ des sciences humaines par le graphisme et le design éditorial.
	</p>
	<p>
		Au-delà du désir, il était avant tout nécessaire de faire groupe autour des ambitions affichées, pour stimuler l’interdépendance entre les différents savoirs.
	</p>
	<p>
		Et c'est finalement toute une tactique de mise en relation qui s'est installée peu à peu. Une écriture intégrative et progressive, suivant une méthode édito-riale associant indistinctement figure, concept, texte, image et qui ne cessait d'interroger les équilibres : entre s'inscrire dans un débat auquel nous cherchons à participer et isoler l'objet pour ce qu'il est, sans autre prétention ; entre faire appel à des figures en tant qu'apport à la recherche mais aussi pour ce qu'elles incarnent et représentent ; entre stimuler l'inter-subjectivité et établir un protocole stricte ; entre sophistiquer la réalisation et préserver sans interférer sur ce qui ressort des différentes mise en relation ; entre les visions individuelles et la raison collective.
	</p>

	<p>
		Une intuition également, à-propos d'un espace encore largement sous-investit : le design éditorial oeuvrant à la scénographie et à l'organisation des contenus. Et qui débute par une interrogation du rapport à l'écriture en sciences humaines. Que peuvent réaliser l'écrit en sciences humaines – où s'affrontent des arguments d'ordre éthique, esthétique et scientifique renforcé par des oppositions tels ques objectivité et subjectivité, science et littérature, fond et forme – le graphisme, et le design éditorial ? Des interrogations analogues aux deux domaines et qui questionnent tout deux le statut de la matière qui est donné à voir et à lire – œuvre d'auteur ou véhicule d'une pensée et instrument de transmission ? Texte qui s'inscrit dans un réseau ou autonomie de l'auteur  et de sa réalisation ?
	</p>
	<p>
		Une écriture en sciences humaines est révélatrice de conceptions, d'opinions, d'attitudes, d'usages dans son milieu d'action, et de valeurs et sentiments attachés à l’écriture même de ces auteurs. Et c'est donc face à une réalité de l'écrit à laquelle le graphisme et plus largement le design éditorial participent. Avec la différence essentielle, ici, que celui-ci se retrouve libéré et investi de nouvelles responsabilités. Ainsi quelles positions adopter et éprouver – expérimentale, interprétative, dialogique... ? Donner accès à une actualité de la recherche (esthétique et théorique) ou pratiquer une re-lecture des codes d'une histoire commune ? Où se situe l'équilibre entre la nécessité de faire identité et positionner l'expérience pour ne pas être hors-champ ? Et donc sur quels présupposés axer toute la stratégie de chaque ouvrage et de la collection en générale
	</p>
	<p>
		La mise en parallèle et en lien – comme l'est l'ensemble du ND – permet en partie de résoudre le problème et d'effectuer une présentation des orientations possibles. Comme le concept éditorial « double » où le binôme permet de répartir les combinaisons, les mises en relation, les nuances et développer les modes de
	</p>
	<p>
		traitement : un tournoiement, une alternance à l'extérieur et à l'intérieur du livre, amenant ses concepteurs à réévaluer l'expérience, les critiques et les effets.
		Et toujours sur le principe de l'interdépendance, la multitude des questions
		techniques posées par cet objet impose la nécessité d'une corrélation renforcée entre les domaines du design et de la conception éditoriale.
	</p>
	<p>
	    Développer un projet éditorial et de design qui porte son regard sur les sciences humaines, c’est aussi apporter aux secteurs académiques et à l'université
		– soumis à des exigences de formes, de sérieux et de protocole – un nouveau souffle, tout en re-donnant à l'art son rôle initial d'invention, de perturbation
		et d'exploration. Les rapports de force ainsi dégagés, la relecture et l'interprétation
		d'un format universitaire prend tout son sens et rend possible la mise en place d'une expérience visuelle et intellectuelle nouvelle. Il est peu commun, en ce sens où il est rarement possible d'aborder des textes universitaires exigeants, sur
		des thèmes donnant de nouvelles possibilités de compréhension, tout en ayant accès à une expérience de design élaborée.
	</p>
	<p>
	    S'il fallait résumer, nous dirions que « Nouveau Document » est tout à la fois l'ambition d'une aventure littéraire dans l'objet qu'elle construit et l'histoire qu'elle raconte, une collection dédiée à des figures de la recherche au sens large,
		et une association défendant une conception de l'édition en sciences humaines fondée sur un échange avec les champs de l'art, du graphisme et du design
		éditorial.
	</p>

</div>
