<div class="product-colophon">
	<p>
		Parution : Septembre 2016
		<br/>Format : 225 x 310
		<br/>352 pages
		<br/>33 contributions
		<br/>24 articles
		<br/>+ de 100 documents
		<br/>Anglais/français - Espagnol/français
		<br/>1000 exemplaires
	</p>
</div>
<div class="product-info">
	<h3>Numéro 01</h3>
	<h4>Collection Nouveau Document</h4>
	<button class="buy"><span>Acheter l’ouvrage/Buy the book</span></button>
</div>
<div class="product-price">
	<div class="buy-price">36 €</div>
	<div class="subscription-price">Souscriptions 29 €</div>
</div>
<div class="product-description">
	<p>
		Géza Róheim est né en Hongrie au tournant du XXe siècle, fils unique d'une famille de riches commerçants. Ethnologue de formation, puis psychanalyste intégré au cercle psychanalytique hongrois, il tenta tout au long de sa vie de concilier ces deux disciplines ; son voyage à travers le monde à la fin des années 1920 pour valider l'universalité du psychisme et des théories freudiennes en étant certainement le point d'orgue. Marqué par l'exil et par cette posture d'entre-deux qu'il ne parviendra jamais à résoudre réellement, Géza Róheim demeure cependant une figure majeure des sciences humaines défrichant un terrain pour d'autres sans avoir conscience de la voie qu'il était en train d'ouvrir.
	</p>
</div>