<header class="nd-header col-xs-12 col-md-12 col-lg-4">
	<div class="block-logo">
		<a href="page-foreword" class="nd-logo"><span>Nouveau Document</span></a>
	</div>
	<nav>
		<ul>
			<li><a href="">newsletter</a></li>
			<li><a href="page-foreword">nous contacter</a></li>
			<li><a href="">google map</a></li>
			<li>.</li>
			<li><a href="">fr</a></li>
			<li><a href="">es</a></li>
		</ul>
	</nav>
	<div class="book-part">
		<div><a class="book-alt-author" href="page-enriquepichonriviere"><span class="initials">E. P.-R.</span> <span class="full-name">Enrique Pichon-Rivière</span></a></div>
		<div class="book-part-author">Géza Róheim</div>
		<div class="book-part-address">Hermina ut 35 b, Budapest</div>
	</div>
</header>
<div class="content-block col-xs-12 col-sm-12 col-md-6 col-lg-4">
	<div>
		<h5>Avec les contributions de :</h5>
		<ul class="contributors">
			<li><span class='initial'>S. </span>Bar-Haim</li>
			<li><span class='initial'>A. </span>Balsalobre</li>
			<li><a href=""><span class='initial'>É. </span>Brabant</a></li>
			<li><span class='initial'>N. </span>Brun</li>
			<li><span class='initial'>J.J. </span>Corre</li>
			<li><span class='initial'>R. </span>Dadoun</li>
			<li><span class='initial'>O. </span>Douville </li>
			<li><span class='initial'>F. </span>Erös</li>
			<li><span class='initial'>G. </span>Ferrier</li>
			<li><span class='initial'>T. </span>Leblond</li>
			<li><span class='initial'>P. </span>Fermi</li>
			<li><span class='initial'>B. </span>Glowczewski</li>
			<li><span class='initial'>Y. </span>Govindama</li>
			<li><span class='initial'>A. </span>Horquin</li>
			<li><span class='initial'>P. </span>Jones</li>
			<li><span class='initial'>S. </span>Rambaud</li>
			<li><span class='initial'>G. </span>Péter Hárs</li>
			<li><span class='initial'>L. </span><span style="letter-spacing: -.03em; word-spacing: -.1em;">Moreau de Bellaing</span></li>
			<li><span class='initial'>D. </span>Pierre</li>
			<li><span class='initial'>A. </span>Violy</li>
		</ul>
	</div>
	<div>
		<h5>Ouvrage collectif <br/>sous la direction éditoriale de : </h5>
		<p>Joanny Lelong, Samuel Rambaud</p>
	</div>
	<div>
		<h5>Direction artistique :</h5>
		<p>Samuel Rambaud</p>
	</div>
	<div>
		<h5>Rédacteur en chef :</h5>
		<p>Joanny Lelong</p>
	</div>
	<div><h5>Comité éditorial :</h5>

		<ul class="list">
			<li>Jean-Jacques Corre</li>
			<li>Luc Vigne</li>
			<li>Gabriel Ferrier</li>
			<li>Catherine Guiral</li>
			<li>Caroline Grillot</li>
			<li>Antonin Horquin</li>
			<li>Gaëlle Lacaze</li>
			<li>Thomas Leblond</li>
			<li>Denis Mellier</li>
			<li>Éric Navet</li>
			<li>Sarah Rambaud</li>
			<li>Jean-Marc Talpin</li>
			<li>Arthur Violy</li>
			<li>Sarah Hoibian</li>
			<li>Olivier Gloriant</li>
			<li>Alexandra Huet</li>
			<li>Marie Baraud</li>
		</ul>
	</div>

	<div>
		<h5>Traducteurs-interprétes :</h5>

		<ul class="list">
			<li>Solange Hibbs</li>
			<li>Carole Filière</li>
			<li>Jone Areta</li>
			<li>Julie Bonnet</li>
			<li>Cécilia Barreto</li>
			<li>Christelle Boulin</li>
			<li>Elvine Boura Dumont</li>
			<li>Antoine Héron-Kummen</li>
			<li>Nadine Roche</li>
			<li>Guénola Sacher</li>
		</ul>
	</div>

</div>
<div class="content-block col-xs-12 col-sm-12 col-md-6 col-lg-4">
	<div>
		<h5>Avec le soutien de :</h5>

		<ul class="list">
			<li>Institut français d’Argentine</li>
			<li style="letter-spacing: -.01em">École nationale supérieure des beaux&#8209;arts de Lyon</li>
			<li>La municipalité de Villeurbanne</li>
			<li>Le musée de l’Imprimerie</li>
			<li>et de la communication graphique</li>
			<li>Le musée ethnographique de Budapest</li>
		</ul>
	</div>

	<div>
		<h5>Partenaires :</h5>

		<ul class="list">
			<li>Le CeTim de Toulouse - Université de Toulouse</li>
			<li>L’institut Balassi</li>
			<li>La ferme du Vinatier</li>
		</ul>
	</div>

</div>